main {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

article {
    font-weight: 300;
}

article h1 {
    margin-bottom: 15px;
    font-weight: 600;

    @media (min-width:1600px){
        font-size:3rem;
    }
}

article h2 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top:10px;

    @media (min-width:1600px){
        font-size:3rem;
    }
}